* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 1.5rem;
    height: 80px;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form input,
.form button {
    padding: 5px;
    border-radius: 10px;
}

.form button {
    background-color: rgb(0, 149, 255);
    color: white;
}

.list-group {
    width: 50%;
}

.list-group i {
    position: relative;
    z-index: 999;
    margin-left: 10px;
    color: red;
}

.list-group-item .checked {
    text-decoration: line-through;
}