<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>To-do</Title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <i class="fa-solid fa-note-sticky"></i><span>My To-Do List</span>
      </header>
      <!-- Form di aggiunta to-do -->
      <form>
      <div class="input-group insert mx-auto mt-4 mb-3">
        <div class="input-group mb-3">
            <input v-model="newTodo.text" type="text" class="form-control" placeholder="What to do...?" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="addNewTodo">Aggiungi</button>
        </div>          
      </form>
      </div>
      <!-- /Form di aggiunta to-do -->
      <!-- Lista di to-do -->
      <ul class="list-group mt-5 mx-auto">
        <li v-for="(item, index) in todo" class="list-group-item" v-show="item.visibility">
          <input class="form-check-input me-1" type="checkbox" value="" :id="item.text">
          <label class="form-check-label stretched-link" :class="item.done === true ? 'checked' : ''" :for="item.text" @click="checked(index)">{{ todo[index].text }}</label>
          <i class="fa-solid fa-xmark" @click="eraseItem(index)"></i>
        </li>
        </li>
      </ul>
      <!-- /Lista di to-do -->
    </div>
    <!-- Scripts -->
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Custom script -->
    <script src="js/script.js"></script>
    <!-- /Scripts -->
  </body>
</html>
