<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>To-do</Title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <i class="fa-solid fa-note-sticky"></i><span class="ms-2">My To-Do List</span>
      </header>
      <!-- Form di aggiunta to-do -->
      <form>
        <div class="form d-flex justify-content-center align-items-center mx-auto mt-4">
            <input v-model.trim="newTodo.text" type="text" placeholder="What to do...?">
            <button class="ms-3" @click="addNewTodo">Aggiungi</button>
        </div>    
      </form>
      <div v-show="errorVisible" class="text-center text-danger mt-3">Il to-do non può essere vuoto!</div>
      <hr class="my-4 mx-auto">
      <!-- /Form di aggiunta to-do -->
      <!-- Lista di to-do -->
      <ul class="list-group mx-auto" v-if="todo.length > 0">
        <li v-for="(item, index) in todo" :key="item.text" class="list-group-item d-flex justify-content-between" v-show="item.visibility">
          <div>
            <input class="form-check-input me-1" type="checkbox" :id="item.text">
            <label class="form-check-label stretched-link ms-2" :class="item.done === true ? 'checked' : ''" :for="item.text" @click.stop="checked(index)">{{ item.text }}</label>
          </div>
          <button class="primary-btn btn-danger" @click="eraseItem(index)"><i class="fa-solid fa-xmark align-self-center"></i></button>
        </li>
      </ul>
      <div class="alert alert-success mx-auto" v-else>Non c'è niente da fare...</div>
      <!-- /Lista di to-do -->
    </div>
    <!-- Scripts -->
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Custom script -->
    <script src="js/script.js"></script>
    <!-- /Scripts -->
  </body>
</html>
